/* Global */
:root{
  font-size: 16px;
  font-family: system-ui, -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
  --header-bg-color: hsl(224, 67%, 15%);
  --odd-bg-color: #748ea0;
  --even-bg-color: hsl(204, 53%, 38%);
}

body {
  background: hsl(200, 18%, 13%);
  color: hsl(180, 7%, 97%);
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1 { font-size: 2.5rem; }

form > div{
  padding: .5em 0;
}

section h2 {
  font-weight: bold;
  background-color: var(--header-bg-color);
  padding: 1rem;
  font-size: 1.2rem;
}

section {
  margin: 1em 0;
}

/* Site Header */
header {
  background-color: var(--header-bg-color);
  border-bottom: 1px solid;
  padding: 1em;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

header > h1 {
  font-size: 2.0rem;
}



/* Mode Calculation Form */


#mode-calc-form .radio-wrapper {
  padding: .5em 1em;
  display: flex;
  justify-content: baseline;
  background-color: var(--odd-bg-color);
}
/* nth-child seems to be 0-based, 
** the first "odd" childs is the second in a collection
*/
#mode-calc-form .radio-wrapper:nth-child(odd) {
  background-color: var(--even-bg-color);
}

#mode-calc-form input[type="radio"] {
  appearance: none;
  width: 1em;
  height: 1em;
  border: 2px solid var(--header-bg-color);
  border-radius: 50%;
}
#mode-calc-form input[type="radio"]:checked{
  background-color: var(--header-bg-color);
}

/* End Mode Calculation Form */

/* Production Rate Form */

.field-wrapper{
  background: var(--odd-bg-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.3rem;
  flex-wrap: wrap;
  gap: .5em;
  text-align: center;
  padding: 0 1em;
}

.field-wrapper label,
.field-wrapper input,
.field-wrapper select,
.field-wrapper button{
  display: block;
  width: 100%;
  font-size: 1em;
  outline: 1px solid var(--odd-bg-color);
}

.field-wrapper > div{
  flex-basis: 100%;
  padding-bottom: .5em;
}

.field-wrapper > div:first-child{
  flex-basis: 100%;
  padding-top: .5em;
}
/* End Production Rate Form */

section#results,
section#building_calculation {
  display:none;
}

input:invalid {
  border: 2px dashed red;
}

input:valid {
  border: 2px solid black;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #0d1b42;
  color: #F7F8F8;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #2e6c96;
}

.styled-table tbody tr:nth-of-type(odd) {
  background-color: #748ea0;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #0f292e;
}
